*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
}

body{
    background-color: black;
}

body, html{
    height: 100%;
    width: 100%;
}

.bgimg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/port_background_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(15px);
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    position: relative;
    z-index: 1;
}

.profilepic{
    height: 200px;
    width: 200px;
}

.typewriter{
    background-color: white;
    height: 30px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.typewriter p{
    padding: 5px 0 0 5px
}

.arrowbtn{
    margin: 0;
    border: none;
    padding-right: 8px;
    padding-left: 5px;
    height: 100%;
    border-left: 1px solid black;
    cursor: pointer;
}

.footer{
    z-index: 1;
    /* background-color: white; */
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    padding-right: 15px;
    align-items: center;
}

.footer a{
    color: white;
    cursor: pointer;
    transition: all 10s ease-in-out;
}

.footer a:hover{
    cursor: pointer;
    /* border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 0 3px 0 3px; */
    height: 100%;
    /* animation: ; */
    /* color: red; */
}

.MobileScreen{
    display: none;
}

.mobilebgimg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/Mobile_Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    /* filter: blur(15px); */
}

.dynamicisland{
    background-color: black;
    height: 50px;
    width: 150px;
    border-radius: 40px;
    margin-top: 10px;
    /* position: fixed; */
    /* margin-left: 121px; */
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

.time{
    color: white;
    position: fixed;
    left: 2px;
    top: 14px;
    font-size: 26px;
    font-weight: bold;
    height: 40px;
    width: 100px;
    padding: 0 5px 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signals{
    /* background-color: red; */
    position: fixed;
    top: 0;
    right: 0;
}

.batteryouter{
    /* background-color: white; */
    height: 25px;
    width: 40px;
    position: relative;
    top: 20px;
    right: 10px;
    border: 3px solid white;
    border-radius: 30px;
}

.batteryinner{
    background-color: white;
    width: 30px;
    height: 15px;
    border-radius: 30px;
    /* margin: 2.5px; */
    position: relative;
    top: 2px;
    left: 2px;
    color: rgb(138, 106, 213);
    font-size: 13px;
    padding-left: 4px;
    padding-top: 0.2px;
    padding-bottom: 0.2px;
}

@media(max-width: 450px){
    .MobileScreen{
        display: flex;
        max-width: 450px;
    }

    .LaptopScreen{
        display: none;
    }
}